<div class="footerMainWrap">
  <div id="phoneNum">
    <h1></h1>
  </div>

  <div id="socialMedia">
    <div class="icon" id="facebook">

    </div>

    <div class="icon" id="instagram">

    </div>

    <div class="icon" id="twitter">

    </div>
    <div class="icon" id="email">

    </div>
    <div class="icon" id="location">

    </div>

  </div>
  <div id="fax">
    <h1></h1>
  </div>

</div>
